<div id="<%= dom_id recipe %>" class="w-[70%] mx-auto border-gray-900 border-4 my-3 rounded-sm">
     <div class="flex justify-between p-4">
          <p class="my-2 text-2xl">
        <%= recipe.name %>
      </p>

      <p class="my-2">
        <%= recipe.description %>
      </p>
     </div>
      <div class="rounded-lg py-3 px-4 bg-blue-600 text-white inline-block font-medium cursor-pointer m-2 underline text-xl">
      <%= button_to 'Destroy this recipe', method: :delete%>
      </div>
</div>
