<%# <footer  class="w-[50%] mx-auto my-16 bg-gray-100 text-bold p-4 text-center"> %>
<footer  class="w-full p-4 bg-gray-100 fixed bottom-0 text-center">
    <p>Created by <a class="italic" href="https://github.com/aboongm">Ranjit Luwang</a> and <a class="italic" href="https://github.com/sainingo">
    Saningo Lekalantula</a> © 2022</p>
</footer>
