<footer class="footer">
<p>Created by <a class="footer-links" href="https://github.com/aboongm">Ranjit Luwang</a> and <a class="footer-links" href="https://github.com/sainingo">
Saningo Lekalantula</a> © 2022</p>
</footer>
