<header class="border flex p-3">
<a class="logo" href="/">Recipe App</a>
<div class="flex border">
      <%= link_to "Foods", class: "nav-link" %>
      <%= link_to 'Recipes', class: "nav-link" %> 
      <%= link_to 'Public Recipes', class: "nav-link" %>
</div>

</header>
