<section class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Foods</h1>
    <%= link_to 'New food', new_user_food_path(:user_id), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

<% if @foods.exists? %>
    <table class='d-flex flex-column border border-1 w-100'>
      <thead>
        <tr class='d-flex p-3 justify-content-between align-items-center'>
          <td>Food</td>
          <td>Measurement unit</td>
          <td>Unit price</td>
          <td>Action</td>
        </tr>  
      </thead>
    </table>
<% else %>
    <p>No Food Added yet</p>     
<% end %>
  <div id="foods" class="min-w-full">
    <%# <%= render @foods %> 
  </div>
</section>
